
    *{
    margin: 0;
    padding: 0;
    font-weight: bolder;
}
.header{
  background-color: aqua;
  border: 2px solid black;
  font-size: larger;
  line-height: 150px;
  width: 100%;
  text-align: center;
}
.sidebar{
  background-color: rgb(37, 172, 172);
  border: 2px solid black;
  line-height: 260px;
  float: left;
  width: 37%;
  margin-top: 12px;
  text-align: center;
}
.section{
background-color: rgb(37, 172, 172);
  border: 2px solid black;
  line-height: 260px;
  float: right;
  width:58%;
  margin-top: 12px;
  text-align: center;
}
.footer{
  background-color: aqua;
  border: 2px solid black;
  font-size: larger;
  line-height: 150px;
  margin-top: 290px;
  width: 100%;
  text-align: center;
  clear: both;
}