
* {
  margin: 0;
  padding: 0;
  font-weight: bolder;
}
.header,
.nav,
.footer {
  background-color: aqua;
  font-size: larger;
  line-height: 100px;
  width: 100%;
  text-align: center;
  margin-bottom: 2px;
}
.footer {
  margin-top:330px;
  clear: both;
}
.main {
  background-color: rgba(85, 245, 22, 0.918);
  border-right: 2px solid white;
  font-size: larger;
  line-height: 270px;
  width: 40%;
  float: left;
  text-align: center;
}

.artical {
  background-color: rgba(85, 245, 22, 0.918);
  border-right: 2px solid white;
  font-size: larger;
  line-height: 270px;
  width: 40%;
  float: left;
  text-align: center;
}
.side {
  background-color: rgba(85, 245, 22, 0.918);
  border-right: 2px solid white;
  line-height:325px;
  float: right;
  width: 19.5%;
  text-align: center;
}